
:root {
  --primary-color: #003366;
  --secondary-color: #007bff;
  --rs-font-family: "72", "72full", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body, html {
  font-family: "72", "72full", Arial, Helvetica, sans-serif;
}